In [2]:
import pandas as pd
import numpy as np

In [3]:
stock_data = pd.read_csv(r"C:\Users\zcindemir\Desktop\YAP471\Proje\Outputs\stock_data.csv")
stock_data.head(10)

,Date,AVGO,AXON,BKNG,BSX,COST,DECK,FI,FICO,GDDY,...,META,NFLX,NRG,NVDA,PLTR,RCL,TDG,TRGP,VST,WMT
0,2023-01-03,53.397121,168.240005,2010.231812,46.009998,436.833771,64.871666,101.209999,591.190002,74.260002,...,124.265305,294.950012,29.803152,14.303279,6.39,48.315308,571.678833,67.232201,21.440491,46.589115
1,2023-01-04,54.049286,168.759995,2087.616211,46.500000,439.994781,64.989998,102.059998,609.039978,74.860001,...,126.885315,309.410004,29.952494,14.736925,6.58,52.213459,578.795471,67.593819,21.902611,46.641018
2,2023-01-05,53.545689,165.740005,2121.742676,45.759998,433.855896,65.846664,99.400002,596.900024,73.720001,...,126.456940,309.700012,29.635139,14.253321,6.32,52.947468,581.444885,67.498665,21.488632,46.482052
3,2023-01-06,56.768925,170.899994,2155.681396,46.330002,465.350128,66.261665,102.180000,601.940002,74.519997,...,129.525238,315.549988,30.055164,14.846834,6.40,54.544422,592.928284,69.563683,21.671553,47.620815
4,2023-01-09,55.655602,177.449997,2184.526123,45.590000,461.379639,67.641670,102.070000,593.869995,74.300003,...,128.977325,315.170013,30.465855,15.615205,6.50,56.825787,594.563538,71.295654,21.690807,47.027100
5,2023-01-10,55.466515,179.330002,2196.930420,46.060001,463.933502,67.666664,101.040001,585.859985,73.040001,...,132.483917,327.540009,30.671200,15.895974,6.70,58.452492,601.853760,70.791275,21.565649,46.997902
6,2023-01-11,55.776199,181.429993,2200.749023,45.810001,466.737915,68.410004,101.529999,598.969971,74.879997,...,132.384308,327.260010,30.139172,15.987901,6.98,58.720306,615.584595,71.038704,21.892988,47.409931
7,2023-01-12,56.142799,184.080002,2232.363281,46.709999,464.926086,69.453331,102.419998,605.580017,75.559998,...,136.189774,330.130005,30.447186,16.497478,7.01,61.934052,621.403992,71.761940,21.844847,46.981682
8,2023-01-13,55.859165,188.130005,2276.451416,46.529999,467.643799,70.153336,102.559998,617.919983,75.919998,...,136.458740,332.820007,29.756477,16.885166,6.96,62.965622,624.765869,71.752441,21.546394,47.137413
9,2023-01-17,55.882317,184.470001,2308.777832,46.040001,469.108673,70.000000,104.010002,627.880005,75.830002,...,134.844894,326.220001,30.008497,17.687508,7.07,63.640114,621.540955,71.504990,21.324963,46.851902

In [4]:
import pandas as pd
import numpy as np


df = pd.read_csv(r"C:\Users\zcindemir\Desktop\YAP471\Proje\Outputs\Outliers\all_stocks_winsorized.csv")
df_raw = pd.read_csv(r"C:\Users\zcindemir\Desktop\YAP471\Proje\Outputs\Outliers\all_stocks_winsorized.csv")
print(df_raw.head(10))

print(df.isna().sum())

df.ffill(inplace=True)
df.bfill(inplace=True)

print(df.isna().sum())
print((df == 0).sum())

df.head(10)

         Date       AVGO        AXON         BKNG        BSX        COST  \
0  2023-01-03        NaN         NaN          NaN        NaN         NaN
1  2023-01-04  54.049286  168.759995  2087.616211  46.500000  439.994781
2  2023-01-05  53.545689  165.740005  2121.742676  45.759998  433.855896
3  2023-01-06  56.768925  170.899994  2155.681396  46.330002  465.350128
4  2023-01-09  55.655602  177.449997  2184.526123  45.590000  461.379639
5  2023-01-10  55.466515  179.330002  2196.930420  46.060001  463.933502
6  2023-01-11  55.776199  181.429993  2200.749023  45.810001  466.737915
7  2023-01-12  56.142799  184.080002  2232.363281  46.709999  464.926086
8  2023-01-13  55.859165  188.130005  2276.451416  46.529999  467.643799
9  2023-01-17  55.882317  184.470001  2308.777832  46.040001  469.108673

        DECK          FI        FICO       GDDY  ...        META        NFLX  \
0        NaN         NaN         NaN        NaN  ...         NaN         NaN
1  64.989998  102.059998  609.039978  74.860001  ...  126.885315  309.410004
2  65.846664   99.400002  596.900024  73.720001  ...  126.456940  309.700012
3  66.261665  102.180000  601.940002  74.519997  ...  129.525238  315.549988
4  67.641670  102.070000  593.869995  74.300003  ...  128.977325  315.170013
5  67.666664  101.040001  585.859985  73.040001  ...  132.483917  327.540009
6  68.410004  101.529999  598.969971  74.879997  ...  132.384308  327.260010
7  69.453331  102.419998  605.580017  75.559998  ...  136.189774  330.130005
8  70.153336  102.559998  617.919983  75.919998  ...  136.458740  332.820007
9  70.000000  104.010002  627.880005  75.830002  ...  134.844894  326.220001

         NRG       NVDA  PLTR        RCL         TDG       TRGP        VST  \
0        NaN        NaN   NaN        NaN         NaN        NaN        NaN
1  29.952494  14.736925  6.58  52.213459  578.795471  67.593819  21.902611
2  29.635139  14.253321  6.32  52.947468  581.444885  67.498665  21.488632
3  30.055164  14.846834  6.40  54.544422  592.928284  69.563683  21.671553
4  30.465855  15.615205  6.50  56.825787  594.563538  71.295654  21.690807
5  30.671200  15.895974  6.70  58.452492  601.853760  70.791275  21.565649
6  30.139172  15.987901  6.98  58.720306  615.584595  71.038704  21.892988
7  30.447186  16.497478  7.01  61.934052  621.403992  71.761940  21.844847
8  29.756477  16.885166  6.96  62.965622  624.765869  71.752441  21.546394
9  30.008497  17.687508  7.07  63.640114  621.540955  71.504990  21.324963

         WMT
0        NaN
1  46.641018
2  46.482052
3  47.620815
4  47.027100
5  46.997902
6  47.409931
7  46.981682
8  47.137413
9  46.851902

[10 rows x 24 columns]
Date    0
AVGO    1
AXON    1
BKNG    1
BSX     1
COST    1
DECK    1
FI      1
FICO    1
GDDY    1
GE      1
HWM     1
KKR     1
LII     1
META    1
NFLX    1
NRG     1
NVDA    1
PLTR    1
RCL     1
TDG     1
TRGP    1
VST     1
WMT     1
dtype: int64
Date    0
AVGO    0
AXON    0
BKNG    0
BSX     0
COST    0
DECK    0
FI      0
FICO    0
GDDY    0
GE      0
HWM     0
KKR     0
LII     0
META    0
NFLX    0
NRG     0
NVDA    0
PLTR    0
RCL     0
TDG     0
TRGP    0
VST     0
WMT     0
dtype: int64
Date    0
AVGO    0
AXON    0
BKNG    0
BSX     0
COST    0
DECK    0
FI      0
FICO    0
GDDY    0
GE      0
HWM     0
KKR     0
LII     0
META    0
NFLX    0
NRG     0
NVDA    0
PLTR    0
RCL     0
TDG     0
TRGP    0
VST     0
WMT     0
dtype: int64

,Date,AVGO,AXON,BKNG,BSX,COST,DECK,FI,FICO,GDDY,...,META,NFLX,NRG,NVDA,PLTR,RCL,TDG,TRGP,VST,WMT
0,2023-01-03,54.049286,168.759995,2087.616211,46.500000,439.994781,64.989998,102.059998,609.039978,74.860001,...,126.885315,309.410004,29.952494,14.736925,6.58,52.213459,578.795471,67.593819,21.902611,46.641018
1,2023-01-04,54.049286,168.759995,2087.616211,46.500000,439.994781,64.989998,102.059998,609.039978,74.860001,...,126.885315,309.410004,29.952494,14.736925,6.58,52.213459,578.795471,67.593819,21.902611,46.641018
2,2023-01-05,53.545689,165.740005,2121.742676,45.759998,433.855896,65.846664,99.400002,596.900024,73.720001,...,126.456940,309.700012,29.635139,14.253321,6.32,52.947468,581.444885,67.498665,21.488632,46.482052
3,2023-01-06,56.768925,170.899994,2155.681396,46.330002,465.350128,66.261665,102.180000,601.940002,74.519997,...,129.525238,315.549988,30.055164,14.846834,6.40,54.544422,592.928284,69.563683,21.671553,47.620815
4,2023-01-09,55.655602,177.449997,2184.526123,45.590000,461.379639,67.641670,102.070000,593.869995,74.300003,...,128.977325,315.170013,30.465855,15.615205,6.50,56.825787,594.563538,71.295654,21.690807,47.027100
5,2023-01-10,55.466515,179.330002,2196.930420,46.060001,463.933502,67.666664,101.040001,585.859985,73.040001,...,132.483917,327.540009,30.671200,15.895974,6.70,58.452492,601.853760,70.791275,21.565649,46.997902
6,2023-01-11,55.776199,181.429993,2200.749023,45.810001,466.737915,68.410004,101.529999,598.969971,74.879997,...,132.384308,327.260010,30.139172,15.987901,6.98,58.720306,615.584595,71.038704,21.892988,47.409931
7,2023-01-12,56.142799,184.080002,2232.363281,46.709999,464.926086,69.453331,102.419998,605.580017,75.559998,...,136.189774,330.130005,30.447186,16.497478,7.01,61.934052,621.403992,71.761940,21.844847,46.981682
8,2023-01-13,55.859165,188.130005,2276.451416,46.529999,467.643799,70.153336,102.559998,617.919983,75.919998,...,136.458740,332.820007,29.756477,16.885166,6.96,62.965622,624.765869,71.752441,21.546394,47.137413
9,2023-01-17,55.882317,184.470001,2308.777832,46.040001,469.108673,70.000000,104.010002,627.880005,75.830002,...,134.844894,326.220001,30.008497,17.687508,7.07,63.640114,621.540955,71.504990,21.324963,46.851902

In [5]:
# Sayısal olmayanları çıkart
df_numeric = stock_data.select_dtypes(include=[np.number])  # Sadece sayısal veriyi seç
negative_values = df_numeric[df_numeric < 0]  # Negatif değerleri al
print(negative_values)

     AVGO  AXON  BKNG  BSX  COST  DECK  FI  FICO  GDDY  GE  ...  META  NFLX  \
0     NaN   NaN   NaN  NaN   NaN   NaN NaN   NaN   NaN NaN  ...   NaN   NaN
1     NaN   NaN   NaN  NaN   NaN   NaN NaN   NaN   NaN NaN  ...   NaN   NaN
2     NaN   NaN   NaN  NaN   NaN   NaN NaN   NaN   NaN NaN  ...   NaN   NaN
3     NaN   NaN   NaN  NaN   NaN   NaN NaN   NaN   NaN NaN  ...   NaN   NaN
4     NaN   NaN   NaN  NaN   NaN   NaN NaN   NaN   NaN NaN  ...   NaN   NaN
..    ...   ...   ...  ...   ...   ...  ..   ...   ...  ..  ...   ...   ...
497   NaN   NaN   NaN  NaN   NaN   NaN NaN   NaN   NaN NaN  ...   NaN   NaN
498   NaN   NaN   NaN  NaN   NaN   NaN NaN   NaN   NaN NaN  ...   NaN   NaN
499   NaN   NaN   NaN  NaN   NaN   NaN NaN   NaN   NaN NaN  ...   NaN   NaN
500   NaN   NaN   NaN  NaN   NaN   NaN NaN   NaN   NaN NaN  ...   NaN   NaN
501   NaN   NaN   NaN  NaN   NaN   NaN NaN   NaN   NaN NaN  ...   NaN   NaN

     NRG  NVDA  PLTR  RCL  TDG  TRGP  VST  WMT
0    NaN   NaN   NaN  NaN  NaN   NaN  NaN  NaN
1    NaN   NaN   NaN  NaN  NaN   NaN  NaN  NaN
2    NaN   NaN   NaN  NaN  NaN   NaN  NaN  NaN
3    NaN   NaN   NaN  NaN  NaN   NaN  NaN  NaN
4    NaN   NaN   NaN  NaN  NaN   NaN  NaN  NaN
..   ...   ...   ...  ...  ...   ...  ...  ...
497  NaN   NaN   NaN  NaN  NaN   NaN  NaN  NaN
498  NaN   NaN   NaN  NaN  NaN   NaN  NaN  NaN
499  NaN   NaN   NaN  NaN  NaN   NaN  NaN  NaN
500  NaN   NaN   NaN  NaN  NaN   NaN  NaN  NaN
501  NaN   NaN   NaN  NaN  NaN   NaN  NaN  NaN

[502 rows x 23 columns]

In [1]:
import pandas as pd

start_date = "2023-01-01"
end_date   = "2025-01-01"

start = pd.to_datetime(start_date)
end = pd.to_datetime(end_date)
total_days = (end - start).days
train_end = start + pd.Timedelta(days=int(total_days * 0.8))

train_end_date = train_end.strftime("%Y-%m-%d")
test_start_date = (train_end + pd.Timedelta(days=1)).strftime("%Y-%m-%d")

print("Train set: {} to {}".format(start_date, train_end_date))
print("Test set: {} to {}".format(test_start_date, end_date))

Train set: 2023-01-01 to 2024-08-07
Test set: 2024-08-08 to 2025-01-01